@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please log in to edit the menu displayed below</p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="./menuEdit">Edit the menu</a>
    }
</div>
