@page
@model menuEditModel
@{
    ViewData["Title"] = "Edit menu";
}

@functions{
    async Task recursivelyDisplayMenuItems(menuEditor.Data.Models.MenuItem menuItem)
    {
        @:<li>
            @:Text: @menuItem.Text
            @:-
            @:URL: @menuItem.URL
            @:-
            <a asp-page="./menuItemScaffolded" asp-route-id="@menuItem.Id"> Add child</a>
            @:-
            <a asp-page="./menuEdit" asp-route-id="@menuItem.Id"> Delete this element</a>
            if (menuItem.Children != null)
            {
                foreach (var child in menuItem.Children)
                {
                    @:<ul>
                        await recursivelyDisplayMenuItems(child);
                    @:</ul>
                }
            }
        @:</li>
    }
}


<div class="text-center">
    <a asp-page="./menuItemScaffolded">Create new top-level menu item</a>
    @{ foreach (var item in Model.MenuItems)
        {
            if (item.ParentId != null) continue; //Terrible hack to compensate for issues with the model.
            await recursivelyDisplayMenuItems(item);
        }
    }
</div>